.lead {
  font-size: 15px;
}

.section {
  margin-left: 20px;
  margin-top: 20px;
}

.card-container {
  overflow-x: auto;
}

.card-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 3000px;
}
