.lead {
  font-size: 15px;
}

.section {
  margin-left: 20px;
  margin-top: 20px;
}

.card-container {
  overflow-x: auto;
}

.card-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 3000px;
}

.login {
  min-height: 100%;
  margin-bottom: 105px;
}

.divPrivate {
  min-height: 100vh;
  margin-bottom: 0px;
  margin-top: 150px;
}

.homeContainer {
  min-height: 100vh;
}
